footer.footer
  .container
    a.top#top(href="#header") Наверх
    .copy Билайн &copy; 2014
    .footer__info.footermenu
      a.footermenu__item(href="") Информация о правообладателях
      a.footermenu__item(href="") Об услуге
