body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    color: $text-color;
    font-size: $body-size;
    font-family: $font-base;
}
.player_window {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
ol,
ul {
    margin: 0;
    padding: 0;
}
a {
    color: $gray-default;

    &:focus,
    &:hover {
        color: lighter($gray-default, 10);
    }
}
.img-responsive {
    display: block;
    max-width: 100%;
}
.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: url('../img/bg.JPG') no-repeat center / cover;

    &.bgblack {
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.5);
            content: ' ';
        }
    }
}
.player_content {
    position: relative;
    margin: 5% auto;
    max-width: 960px;
    width: 90%;
    background: #000;
}
.video_block {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-height: 405px;
    height: 100%;
}
.infoblock {
    position: relative;
    display: flex;
    background: #fff;
}
.infoleft,
.video_container {
    width: 75%;
}
.video_container {
    position: relative;

    #vkvideo {
        width: 100%;
        height: 100%;
    }
}
.inforight,
.video_list {
    position: relative;
    max-width: 233px;
    width: 35%;
}
.infoleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #e7e8ec;
}
.video_head_one {
    overflow: hidden;
    padding: 8px 0 7px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.playlist {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    overflow-y: auto;
    margin-top: 30px;
}
.videoplay {
    display: flex;
    overflow: hidden;
    margin-right: 3%;
    padding: 2.57% 2.14% 2.57% 4.29%;
    background-color: #1e1e1e;
    white-space: nowrap;
    cursor: pointer;
    -o-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

    &.active,
    &:focus,
    &:hover {
        background-color: #272727;
        text-decoration: none;
    }
    &_img {
        position: relative;
        width: 42.33%;
        height: 55px;
        border-radius: 2px;
        background-color: #222;
        background-position: 50%;
        background-size: cover;
    }
    &_content {
        margin-left: 3.65%;
        width: 44.63%;
        vertical-align: top;
        white-space: normal;
    }
    &_title {
        display: -webkit-box;
        overflow: hidden;
        margin-bottom: 2px;
        max-height: 34px;
        color: #fff;
        text-overflow: ellipsis;
        font-size: 12px;
        line-height: 17px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        //opacity: 0.7;
    }
    &_views {
        overflow: hidden;
        color: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 11px;
        line-height: 15px;
        opacity: 0.35;
    }
    &_duration {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1px 3px 1px 4px;
        border-radius: 2px 0;
        background-color: #000;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        color: hsla(0,0%,100%,.9);
        font-size: 11px;
        line-height: 15px;
        transition: opacity 100ms linear;
    }
}
.inforight {
    padding: 15px 1.16% 1.16%;
}
.inforight_title {
    padding-bottom: 4px;
    padding-left: 3.3%;
    color: #2b2f33;
    font-size: 16px;
    line-height: 23px;
}
.infohead {
    display: flex;
    justify-content: space-between;
    margin: 15px 2.95% 5px;
}
.infovideoname {
    display: -webkit-box;
    overflow: hidden;
    max-height: 46px;
    color: #000;
    text-overflow: ellipsis;
    font-size: 17px;
    line-height: 23px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.infovideoviews {
    float: right;
    margin-left: 20px;
    min-height: 23px;
    color: #939393;
    text-align: right;
    white-space: nowrap;
    font-size: 14px;
    line-height: 23px;
}
.inforight_playlist {
    .videoplay {
        padding: 2.57% 2.14% 2.57% 4.29%;
        background-color: #fff;
        text-decoration: none;
    }
    .videoplay_title {
        color: #2a5885;
        text-decoration: none;
        cursor: pointer;
    }
    .videoplay_views {
        overflow: hidden;
        padding-top: 3px;
        color: #939393;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 11px;
        opacity: 1;
    }
}
.btngroup {
    overflow: hidden;
    margin: 0 2.95% 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e8ec;
    line-height: 1.5;

    .vk_btn,
    .vk_like {
        margin-top: 10px;
    }
}
.channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2.95% 15px;
}
.vk_like {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 7px 16px 8px;
    outline: none;
    border: 0;
    border-radius: 2px;
    background: none;
    background-color: #5e81a8;
    color: #fff;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12.5px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    line-height: 15px;
    cursor: pointer;
    zoom: 1;
}
.like_icon {
    display: inline-block;
    float: left;
    margin: 3px 8px 0 3px;
    width: 13px;
    height: 10px;
    background: url("../img/video_actions.png") no-repeat 0 0;
    opacity: 0.4;
    transition: opacity 0.2s ease;
}
.like_text {
    display: inline-block;
    float: left;
}
.like_views {
    display: inline-block;
    float: left;
    margin: 0 4px 0 7px;
    color: #fff;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.vk_btn {
    position: relative;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin: 0;
    margin-left: 6px;
    padding: 7px 16px 8px;
    padding-right: 8px;
    padding-left: 8px;
    outline: none;
    border: 0;
    border-radius: 2px;
    background: none;
    background-color: transparent;
    color: #4a7198;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12.5px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    line-height: 15px;
    cursor: pointer;
    zoom: 1;

    &:focus,
    &:hover {
        background-color: #e5ebf1;
    }
    &.add_video {
        .vk_btn_icon {
            background-position: 0 -15px;
        }
    }
    &.dropdown {
        .vk_btn_icon {
            margin-left: 10px;
            background: url('../img/dd_arrow.png') no-repeat center;
        }
    }
}
.vk_btn_icon {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 7px;
    margin-bottom: -2px;
    width: 12px;
    height: 13px;
    background: url("../img/video_actions.png") no-repeat 0 -44px;
}
.vk_btn_text {
    display: inline-block;
    float: left;
}
.channel_info {
    display: flex;
}
.channel_img {
    min-width: 50px;
    height: 50px;

    img {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fafbfc;
        -moz-force-broken-image-icon: 0;
    }
}
.channel_content {
    margin: 9px 0 0 10.02%;
    max-width: 150px;
    white-space: nowrap;
}
.channel_name {
    overflow: hidden;
    color: #2a5885;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    line-height: 1.25em;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.channel_date {
    margin-top: 4px;
    color: #939393;
    white-space: nowrap;
    font-size: 12.5px;
}
.flat_btn {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 7px 16px 8px;
    outline: none;
    border: 0;
    border-radius: 2px;
    background: none;
    background-color: #5e81a8;
    color: #fff;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12.5px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    line-height: 15px;
    cursor: pointer;
    zoom: 1;
}
.subscribe_btn_count {
    position: relative;
    display: inline-block;
    margin-right: 9px;
    padding: 7px 12px 7px;
    border-radius: 2px;
    background: #e5ebf1;
    color: #55677d;
    cursor: default;

    &:after {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-color: transparent;
        border-left-color: #e5ebf1;
        content: " ";
        pointer-events: none;
    }
}
.channel_text {
    margin: 0 2.95% 15px;
}
.mv_desc {
    line-height: 1.46em;
}
.reply_form {
    position: relative;
    margin-top: -1px;
    border-top: 1px solid #e7e8ec;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    zoom: 1;
}
.min-ava {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    display: block;
    height: 28px;

    img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
}
.reply_form_text {
    overflow: hidden;
    padding: 14px 20px 16px 12px;
    padding-left: 55px;
    min-height: 48px;
    max-height: 48px;
    width: 100%;
    border: 0;
    border-radius: 2px;
    vertical-align: top;
    word-wrap: break-word;
    line-height: 1.462;
    resize: none;
}
.top_controls_wrap {
    position: absolute;
    right: -5.3%;
    z-index: 2;
    width: 5%;
}
.control_btn {
    position: relative;
    padding: 6px 10%;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:focus,
    &:hover {
        opacity: 1;
    }
}
.icon_close,
.icon_minimize,
.icon_sideblock {
    width: 100%;
    background: url("../img/video_icon.png") no-repeat;
}
.icon_close {
    height: 20px;
    background-position: 0 0;
}
.icon_minimize {
    margin: 7px 0;
    height: 5px;
    background-position: 0 -24px;
}
.icon_sideblock {
    height: 19px;
    background-position: 0 -52px;
}
.control_next,
.control_prev {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    max-height: 405px;
    width: 5%;
    height: 100%;
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: pointer;
    transition: opacity 100ms linear;

    &:focus,
    &:hover {
        opacity: 1;
    }
}
.control_prev {
    left: -5%;
}
.control_next {
    right: -5%;
}
.icon_next,
.icon_prev {
    width: 100%;
    height: 30px;
    background: url("../img/layer_controls.png") no-repeat;
}
.icon_next {
    background-position: 30% -55px;
}
.icon_prev {
    background-position: 70% -23px;
}
.vkvideo {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;

    &:hover,
    .vjs-paused {
        .vkvideo__header {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
        }
        .vjs-control-bar {
            visibility: visible !important;
            opacity: 1 !important;
            transform: translateY(0px) !important;
        }
    }
    .vjs-paused+.vkvideo__header {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
    span {
        display: block;
        cursor: pointer;
        -webkit-user-select: none;
    }
    &__controls {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 40px;
    }
    &__pause {
        padding: 10px 14px 0 12px;

        span {
            width: 14px;
            height: 16px;
            background: url("../img/iconset.png") no-repeat -130px 0;
        }
        &.paused {
            span {
                background-position: -116px 0;
            }
        }
    }
    &__next {
        padding: 12px 12px 0 0;

        span {
            width: 18px;
            height: 12px;
            background: url("../img/iconset.png") no-repeat -228px -53px;
        }
    }
    &__progressbar {
        padding: 16px 0 0;
        width: 41%;
    }
    &__whiteline {
        position: relative;
        top: -5px;
        display: block;
        width: 100%;
        height: 15px;
        cursor: pointer;
        -webkit-user-select: none;
    }
    &__backline {
        position: relative;
        top: -15px;
        display: block;
        margin: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #ffffff;
        opacity: 0.3;
        cursor: pointer;
        -webkit-user-select: none;
    }
    &__loadline {
        position: relative;
        top: -19px;
        display: block;
        margin: 0;
        width: 0;
        height: 4px;
        border-radius: 2px;
        background-color: #ffffff;
        opacity: 0.3;
        cursor: pointer;
        -webkit-user-select: none;
    }
    &__progressline {
        position: relative;
        top: -11px;
        display: block;
        margin: -12px 0 0;
        width: 0;
        height: 4px;
        border-radius: 2px;
        background-color: #ffffff;
        opacity: 1;
        cursor: pointer;
        -webkit-user-select: none;
    }
    &__time {
        display: flex;
        padding: 12px 0 0 14px;
        font-size: 11px;

        #currenttime {
            color: #ffffff;
            text-align: left;
            -webkit-user-select: none;
        }
        #duration,
        .time {
            color: #fff;
            text-align: left;
            opacity: 0.75;
            -webkit-user-select: none;
        }
        .time {
            padding: 0 5px;
        }
    }
    &__valume {
        padding: 11px 0 0 16px;

        span {
            position: relative;
            margin-right: 6px;
            width: 19px;
            height: 13px;
            background: url("../img/iconset.png") no-repeat -333px 0;

            &.off {
                background-position: -276px 0;
            }
        }
    }
    &__header {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition-duration: 0.25s;
        transition-property: visibility, opacity, -webkit-transform;
        transition-property: transform, visibility, opacity;
        transition-property: transform, visibility, opacity, -webkit-transform, -o-transform;
        transform: translateY(-44px);
        will-change: transform, opacity;
    }
    &__add,
    &__like,
    &__share {
        position: relative;
        float: left;
        overflow: hidden;
        margin-left: 8px;
        width: 37px;
        height: 37px;
        border-radius: 3px;
        background: #000;
        background: rgba(0,0,0,.6);
        cursor: pointer;

        &:focus,
        &:hover {
            background: #222;
            background: rgba(34,34,34,.6);
        }
        img {
            position: relative;
        }
    }
    &__like {
        img {
            top: 11px;
            left: 10px;
            width: 17px;
            height: 15px;
        }
    }
    &__share {
        img {
            top: 11px;
            left: 11px;
            width: 14px;
            height: 15px;
        }
    }
    &__add {
        img {
            top: 10px;
            left: 10px;
            width: 17px;
            height: 17px;
        }
    }
    &__animated {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
}
.video-js {
    .vjs-load-progress {
        background-color: hsla(0,0%,100%,.4);
    }
    .vjs-progress-holder .vjs-load-progress,
    .vjs-progress-holder .vjs-load-progress div,
    .vjs-progress-holder .vjs-play-progress,
    .vjs-progress-holder .vjs-tooltip-progress-bar {
        height: 5px;
        border-radius: 5px;
    }
    .vjs-play-progress {
        &:before {
            top: -4px;
            right: -6.5px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #fff;
            opacity: 0;
            transition: opacity 0.2s ease;
        }
    }
    .vjs-progress-holder {
        &:focus,
        &:hover {
            .vjs-play-progress {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
    .vjs-fullscreen-control {
        top: 0;
        right: 8px;
        order: 5;
    }
    .vjs-time-control {
        display: none;
    }
    .vjs-volume-menu-button {
        order: 4;
    }
    .vjs-menu-button-inline {
        width: 12em;

        .vjs-menu {
            display: block;
            opacity: 1;
        }
        .vjs-menu-content {
            position: relative;
            top: -2px;
        }
    }
    .vjs-volume-bar {
        margin: 2.25em 0.45em;
    }
    .vjs-control:before {
        line-height: 2.67;
    }
    .vjs-progress-holder {
        height: 5px;
        border-radius: 5px;
    }
}
.vjs-has-started .vjs-control-bar {
    height: 45px;
    background: transparent;
    transition: transform 0.3s ease;
    transform: translateY(47px);

    &:before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        height: 110px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADcCAYAAACxtct4AAAAGXRF…aOVswXrWydLx+WaK57WqWNdVsaH3Lu532//4L7Ix+BBgA0mT6Yrg5bBMAAAAASUVORK5CYII=');
        background-repeat: repeat-x;
        content: '';
        -o-transition: opacity 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: opacity 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        pointer-events: none;
        will-change: opacity;
    }
    .vjs-current,
    .vjs-current-time,
    .vjs-current-time,
    .vjs-duration,
    .vjs-time-divider {
        display: block;
    }
    .vjs-duration {
        order: 3;
    }
    .vjs-time-divider {
        order: 2;
    }
    .vjs-current-time {
        order: 1;
    }
    .vjs-time-control {
        padding: 0 0 0 5px;
        min-width: 0;
        line-height: 4.9em;
    }
}
.video-js .vjs-control.vjs-paused:before,
.video-js .vjs-control.vjs-playing:before,
.vjs-icon-fullscreen-enter:before {
    background: url('../img/paused.svg') no-repeat 50% / 50%;
    content: '';
}
.video-js .vjs-control.vjs-playing:before {
    background-image: url('../img/playing.svg');
}
.vjs-icon-fullscreen-enter:before {
    background-image: url('../img/fullscreen.svg');
}
.vjs-slider-horizontal .vjs-volume-level,
.vjs-volume-bar.vjs-slider-horizontal {
    height: 5px;
    border-radius: 5px;
}
.vjs-slider-horizontal .vjs-volume-level {
    &:before {
        top: -0.3em;
        font-size: 1.2em;
    }
}
.video-js .vjs-fullscreen-control,
.vjs-icon-fullscreen-enter {
    &:before {
        background: url('../img/fullscreen.svg') no-repeat 50% / 50%;
        content: '';
    }
}
.videoplayer_fullscreen_icon ._exit {
    display: none;
}
.vjs-volume-menu-button-horizontal .vjs-lock-showing .vjs-menu-content,
.vjs-volume-menu-button-horizontal .vjs-slider-active .vjs-menu-content,
.vjs-volume-menu-button-horizontal:focus .vjs-menu-content,
.vjs-volume-menu-button-horizontal:hover .vjs-menu-content {
    height: 3.2em;
}
//.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
//  visibility: hidden;
//  transform: translateY(44px);
//  opacity: 0;
//}
//.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
//
//}
.video-js .vjs-big-play-button {
    display: none;
}
