@media (max-width: 900px) {
    .channel {
        flex-direction: column;
    }
    .channel_btngroup {
        margin-top: 15px;
    }
    .channel_content {
        max-width: 100%;
    }
}
@media (max-width: 500px) {
    .video_container iframe {
        height: 405px;
    }
    .infoleft,
    .inforight,
    .video_container,
    .video_list {
        width: 100%;
    }
    .video_list {
        max-width: 100%;
    }
    .video_block {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        max-height: 350px;
    }
    .playlist {
        position: static;
        margin-top: 5px;
    }
    .video_head_one {
        margin-left: 15px;
    }
    .inforight {
        width: 100%;
    }
    .control_next,
    .control_prev {
        max-height: 310px;
    }
    .inforight {
        display: none;
    }
    .video-js {
        &,
        .vjs-tech {
            max-height: 350px;
        }
    }
    .video_list {
        display: none;
    }
    .control_btn,
    .control_next,
    .control_prev {
        display: none;
    }
    .channelgroup {
        display: none;
    }
    .player_window {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btngroup {
        border-bottom: 0;
        margin-bottom: 0;
    }
    .control_btn:first-child {
        display: block;
        position: absolute;
        top: -32px;
        right: 15px;
        width: 26px;
    }
}
@media (max-width: 480px) {
    .player_content {
        width: 100%;
        margin: 0;
    }
    .player_window {
        padding: 5px;
    }

}
@media (max-width: 320px) {
    .video_block {
        max-height: 180px;
    }
    .video-js {
        &,
        .vjs-tech {
            max-height: 180px;
        }
    }
    body {
        overflow: auto;
    }
}
