$brand-primary: #feda24;
$brand-gray:    #f0f0f0;
$text-color:    #000;
$gray-default:  #363636;

$body-size:   13px;
$font-base:  -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
$font-serif: 'OfficinaSerifMediumC', $font-base;
$font-serif-bold: 'OfficinaSerifC-Bold', $font-base;

$font-path: '/fonts/';
// fontAwesomePath
$fontAwesomePath:   "/fonts" !default;
$imgpath:           '/img/';
$grid-spacing:      1rem;
